---
---

@import "{{ site.theme }}";
.page-header {
    padding: 1rem;
    background-color: #6e0fea;
    background-image: linear-gradient(120deg, #2d095c, #6e0fea);
}
.page-header a.btn {
    display: none;
}
.project-name {
    background: url(Forecast_Logotype_right_white.png) 0 0 no-repeat;
    display: block;
    height: 50px;
    text-indent: -99999em;
    width: 100%;
    overflow: hidden;
}
.project-tagline {
    opacity: 1;
}
.main-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
   color: #2d095c;
 }
}
